* {
    margin: 0;
    padding: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: all 0.4s ease 0s;
    font-weight:normal;
    color: white;
    list-style-type: none;
    text-decoration: none !important;
  }
  
  body {
    position: relative;
    background-image:url(images/abtpg.png);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center center;
    background-attachment:fixed;
    background-color: #545454;
    font-family: Arial, sans-serif;
  }
  @media only screen and (max-width: 767px) { body {background-image: url(images/abtpg.png); } }
  
  nav{
    width: 100%;
    height: 10.72%;
    padding: 4px 1px 1px;
    position:absolute;
    background-image: gray;
    border: 1px solid white;
  }
  
  nav .logo p img{
    float: left;
    padding-left: 3px;
    height: 92px;
  }

 nav .logo p img:hover{
    transform: scale(1.10);
  }

  main {
    display: flex;
  }

  ul {
    list-style-type: none;
    overflow: hidden;
  }

  nav li {
    margin-top: 10px;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 25px;
    color: white;
    height: 36px;
  }
    li a:hover {
      color: black;
      transform: scale(1.10);
      background-color: white;
      height: 36px;
}
  
  nav li a{
    text-transform: capitalize;
    text-align:center;
    text-decoration:none;
    display: block;
    font-size:21px;
  }

  h1 {
    transform: translate(125%, 15%);
    font-size: 90px;
    animation: 1s fadeIn;
    text-shadow: 1.8px 1.8px 1.8px black;
    letter-spacing: 2.5px;
    word-spacing: 10px;
    -webkit-text-stroke: 2px black;
  }
  #abt {
    font-size: 35px;
    transform: translate(-15%, 35%);
    width: 875px;
    animation: 2s fadeIn;
    text-shadow: .5px .5px .5px black;
    text-align: center;
    -webkit-text-stroke: 1.15px black;
  }
  p a {
    -webkit-text-stroke: 1.05px white;
    color: black;
  }
  p a:hover {
    -webkit-text-stroke: 1.1px black;
    color: aquamarine;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }



  @media (max-width: 768px) {
    nav {
      text-align: center;
      height: 120px;
    }
  
    nav .logo {
      position: static;
    }

    nav .logo p img {
        width:95px;
        height:115.5px;
        padding-left: 3px;
    }
    nav .logo p img:hover {transform: scale(1.1);}

    li a {
        padding:5px;
    }
    nav li a {
      font-size: 20px;
    }

    nav ul {
      display: block;
    }
  
    nav li {
      margin: 10px 0;
    }
    h1 {
      left: 15%;
      white-space: nowrap;
      position:sticky;
      transform: translateX(30%);
      transform: translateY(7%);
      font-size: 55px;
      z-index: 999;
    }
    #abt {
      transform: translate(-77.5%, 12%);
      width: 320px;
      margin-top: 50px;
    }
  }