* {
  margin: 0;
  padding: 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none !important; 
  transition: all 0.4s ease 0s;
  font-weight: bold;
  color: white;
  list-style: none;
}

body {
  background-image:url(images/contactspg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #808292;
  font-family: Arial, sans-serif;
}
@media only screen and (max-width: 767px) { body {background-image: url(images/contactspg.png); } }

nav{
  width: 100%;
  height: 80px;
  padding: 4px 1px 1px;
  position:absolute;
  background-color:#808292;
  border: 1px solid white;
}

nav .logo p img{
  float: left;
  padding-left: 4px;
}

nav .logo p img:hover{
  transform: scale(1.10);
}

main {
  display: flex;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  display: block;
}

nav li {
  margin-top: 10px;
}

li {
  float: right;
}

li a {
  display: block;
  padding: 30px;
  padding-top: 19px;
}
  li a:hover {
    color: black;
    transform: scale(1.10);
    background-color: white;
}


nav li a{
  text-transform: capitalize;
  text-align:center;
  text-decoration:none;
  display: block;
  font-size:19px;
}

#contact {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  animation: 1.5s fadeIn;
  font-weight: bolder;
  letter-spacing: 2.5px;
  text-shadow: 4px 4px 4px black;
  -webkit-text-stroke: 2px black;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form {
  max-width: 400px;
  margin: 0 auto;
  transform: translate(-5%, 80%);
}

input {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  color: black;
  text-decoration: none;
}
textarea {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  color: black;
  text-decoration: none;
}

input[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  width: 100px;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav {
    position: static;
    height:116px;
    text-align: center;
  }
  nav .logo {
    position: static;
  }
  nav .logo p img:hover{
    transform: scale(1.10);
  }
  nav .logo p img {
    width:90px;
    height:111.5px;
    padding-left: 4px;
}
li a {
    padding:10px;
    padding-right: 9px;
}

nav ul {
  display: block;
}

nav li {
  margin: 10px 0;
}

  #contact {
  font-size: 20px;
  width: 223px;
  top: 27%;
  letter-spacing: 2px;
  }
  form {
    max-width: 90%;
    margin: 0 auto;
    transform: translate(-3.5%, 20%);
  }
  input[type="submit"] {
    transform: translate(-1%, -25%);
  }
}